body{
    margin: 0px;
    font-family: HelveticaNeue;
    overflow:auto;
    overflow-y:scroll;
    color:#777777;
}

.arrow_buttons{
    font-size: 25px;
    background: white;
    border: 0px;
    cursor:pointer;
    color: #777777;
}

.arrow_buttons:hover{
    color:#AAAAAA;
}

.center_button_container{
    margin: 0 auto;
    display:inline-box;
    float:right;
    margin-right:260px;
}

#canvas{
    position:absolute;
    top:0px;
    left:0px;
}

#image_canvas_container{
    background:black;
    width: 820px;
    height: 600px;
    z-index:999;
    overflow:hidden;
}

.inline_text{
    display: inline-block;
    color: #333333;
}

#info_bar{
    padding:10px;
    box-shadow: 0px 0px 10px black;
    z-index:99;
}

#add_label{
    float:right;
    cursor: pointer;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 25px;
    color:#777777;
}

#add_label:hover{
    color: #FFFFFF;
    background: #777777;
}

#stats_container{
    padding: 10px;
    color: #777777;
}

#label_container{
    width: 820px;
    height:120px;
    overflow:auto;
    overflow-y: scroll;
    z-index:10;
    padding-top:10px;
    padding-bottom:10px;
    background: #777777;
}

.label_element{
    display:inline-block;
    margin: 5px;
    padding:10px;
    background: #CCCCCC;
    border-radius: 5px;
    z-index:11;
    box-shadow: 0px 0px 3px black;
    cursor: pointer;
}

.active_label{
    background: #108EE9;
    color: #FFFFFF;
}

.rowNumber{
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.21);
    border-radius: 3px;
    font-family: HelveticaNeue-Italic;
    font-size: 12px;
    color: rgba(0,0,0,0.25);
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 27px;
    padding-left: 7px;
    width:102px;
    float: right;
    margin-top: 7px;
    margin-right: 10px;
}

.enterSymbol{
    position: absolute;
    right: 20px;
    bottom: 20px;
    cursor:pointer;
}

#footer_element{
    width: 820px;
    height:50px;
    z-index:99;
    box-shadow: 0px 0px 10px black;
}

#loading_container{
    position:absolute;
    top:0;
    left:0;
    width:830px;
    height:845px;
    background:white;
    z-index:999;
}

#jump_to_next{
    border:0;
    cursor:pointer;
    padding:7px;
    padding-left:15px;
    padding-right:15px;
    margin-top:10px;
    margin-left:10px;
    border-radius: 20px;
    color:#777777;
    background:#FFFFFF;
}

#jump_to_next:hover{
    background: #777777;
    color:#FFFFFF;
}

#error_hint{
    color: white;
    background: rgb(255, 100, 100);
    position: absolute;
    top: -50px;
    padding:10px;
    font-size:15px;
    border-radius: 0px 0px 4px 4px;
    left: 250px;
}

#loading_screen{
    font-family: AvenirNext-Regular;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
    font-size:30px;
    color: #9B9B9B;
    letter-spacing: 0;
    text-align:center;
}

.loading_buttons{
    font-size:50px;
}

.loader {
    border: 7px solid #f8f8f8;
    border-radius: 50%;
    border-top: 7px solid #9B9B9B;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 1.4s linear infinite;
    animation: spin 1.4s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loading_main{
    width:100%;
    height:100%;
    opacity:0.5
}

.preprocessing_data_key{
    position:absolute;
    top:45px;
    left:0;
    font-family: AvenirNext-Regular;
    font-size:30px;
    color: #9B9B9B;
    letter-spacing: 0;
    width:100%;
    text-align:center;
}

#modal_background{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: none;
}

#add_label_container{
    width: 300px;
    height: 170px;
    padding: 20px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    background:white;
    
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 25px;
    
    margin: -115px 0 0 -170px;
    display: none;
}

#create_label_errors{
    padding-top: 10px;
    min-height:20px;
    color: rgb(255, 100, 100);
    padding-left: 20px;
}

#create_label_text_box{
    border:1px solid #ddd;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    margin-left: 15px;
    width:245px;
    font-size: 15px;
}

#create_label_text{
    width:100%;
    text-align:center;
    font-size:25px;
    color:#777777;
    padding-top:10px;
}

#cancel_button{
    float:left;
    display:inline-block;
    margin-top: 10px;
    margin-left: 15px;
    padding:10px;
    padding-left:35px;
    padding-right:35px;
    font-size:15px;
    background:#777777;
    border-radius:5px;
    cursor:pointer;
    color:white;
}

#cancel_button:hover{
    background: #AAAAAA;
}

#add_label_button{
    float:right;
    display:inline-block;
    margin-top: 10px;
    margin-right: 19px;
    padding:10px;
    padding-left:35px;
    padding-right:35px;
    font-size:15px;
    background: #108EE9;
    border-radius:5px;
    cursor:pointer;
    color:white;
}

#add_label_button:hover{
    background:#7EC2F3
}


